include LICENSE
include README*

recursive-include ip2region/data *
recursive-include ip2region/templates *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.mp[34]
recursive-exclude * *.wav
recursive-exclude * *.pcm

recursive-exclude docs *
recursive-exclude examples *
recursive-exclude cachedir *
